*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

h1{
    text-align: center;
    background-color: rgb(239 79 95);
    color: white;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    font-weight: bold;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: black
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: auto;
    border: 2px solid white;
}

h2{
    background-color: rgb(239, 180, 79);
    color: white;
    padding: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    background-color: rgb(239, 180, 79);
    color: white;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
